.CountriesBox{
    background-color: rgb(119, 160, 23);
        height:100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }